In [ ]:
# Operators In Pythons
# Arithmetic Operators
# Assignment Operators
# Comparison Operators
# Logical Operators
# Identity Operators
# Membership Operators

In [10]:
# Arithmetic Operators
print("5 + 6 is ", 5+6)
print("5 - 6 is ", 5-6)
print("5 * 6 is ", 5*6)
print("5 / 6 is ", 5/6)
print("5 ** 3 is ", 5**3)
print("5 % 5 is ", 5%5)
print("15 // 6 is ", 15//6)

5 + 6 is  11
5 - 6 is  -1
5 * 6 is  30
5 / 6 is  0.8333333333333334
5 ** 3 is  125
5 % 5 is  0
15 // 6 is  2

In [11]:

# Assignment Operators
print("Assignment Operators")
x = 5
print(x)
x +=7 # x = x+7
print(x)

Assignment Operators
5
12

In [14]:
# Comparison Operators
i = 5
print(i==5)

True

In [21]:
# Logical Operators
a = True
b = True

print(b and a)

True

In [23]:
# Identity Operators
print(a is b)

True

In [25]:
# Membership Operators
list = [3, 3,2, 2,39, 33, 35,32]
print(324 not in list)

True

You are free to use anything we've studied till now.
2. The number of guesses should be limited, i.e (5 or 9).
3. Print the number of guesses left.
4. Print the number of guesses he took to win the game.
5. “Game Over” message should display if the number of guesses becomes equal to 
You are advised to participate in solving this problem. This task helps you to become a good problem solver and helps you accepting the challenge and acquiring new skills.

In [ ]:
a = 18