In [46]:
mystr = "husban is a good boy"
# print(len(mystr))
# print(mystr[6])
# print(mystr[7:])
print(mystr[21:77])
# print(mystr[:17:3])

In [47]:
print(mystr[::-2])

ybdo  inbu

In [53]:
# print(mystr.endswith("boy"))
# print(mystr.count("s"))
# print(mystr.capitalize())
# print(mystr.replace("is", "are"))
# print(mystr.replace("is", "are"))
print(mystr)

husban  a good boy
husban is a good boy

In [57]:
print(mystr.upper())
print(mystr.lower())
print(mystr.find("is"))
print(mystr.find("good"))

HUSBAN IS A GOOD BOY
husban is a good boy
7
12

Python Lists And List Functions
Python lists are containers used to store a list of values of any data type. In simple words, we can say that a list is a collection of elements from any data type. E.g.

In [ ]:
                        # Lists in Python

[]                                             # list with no member, empty list
[1, 2, 3]                                    # list of integers 
[1, 2.5, 3.7, 9]                           # list of numbers (integers and floating point)
['a', 'b', 'c']                               # lisst of characters
['a', 1, 'b', 3.5, 'zero']                # list of mixed value types
['One', 'Two', 'Three']               # list of strings

['One', 'Two', 'Three']

List Methods :
Here is the list of list methods in Python. These methods can be used in any python list to produce the desired output.

In [62]:
# List Methods :
l1=[1,8,4,3,15,20,25,89,65]       #l1 is a list
print(l1)

l1.sort()
print(l1)      #l1 after sorting
l1.reverse()
print(l1)      #l1 after reversing all elements

[1, 8, 4, 3, 15, 20, 25, 89, 65]
[1, 3, 4, 8, 15, 20, 25, 65, 89]
[89, 65, 25, 20, 15, 8, 4, 3, 1]

In [70]:
# List Methods :- 
list1= [1,2,3,6,5,4]     #list1 is a list

# list1.append(7)    # This will add 7 in the last of list 
# list1.insert(3,8)    # This will add 8 at 3 index in list
list1.remove()    #This will remove 1 from the list 
list1.pop(2)        #This will delete and return index 2 value.

3

In [71]:
print(list1)

[1, 2, 6, 5, 4]

In [14]:
numbers = [2, 7, 9, 11, 3]

In [19]:
numbers.sort()
numbers.reverse()

In [20]:
print(numbers)

[11, 9, 7, 3, 2]