In [18]:
names = ["Alice", "Bob", "Charlie", "Dave", "Eve"]
result = {}

for name in names:
    first_letter = name[0].upper()
    if first_letter not in result:
        result[first_letter] = []
    result[first_letter].append(name)

# for key in result:
#     result[key] = sorted(result[key])

print(result)

{'A': ['Alice'], 'B': ['Bob'], 'C': ['Charlie'], 'D': ['Dave'], 'E': ['Eve']}

In [19]:
numbers = [4,2,3, 5, 9, 10, 15]
total = 0
i = 0

while i < len(numbers):
    if numbers[i] % 3 == 0 or numbers[i] % 5 == 0:
        total += numbers[i]
    i += 1

print(total)

42

In [22]:
i=0;
while(True):
    print(f"The value of i is : {i}")
    i=i+1
    if(i>10):
        print("Breaking the loop. ")
        break;

The value of i is : 0
The value of i is : 1
The value of i is : 2
The value of i is : 3
The value of i is : 4
The value of i is : 5
The value of i is : 6
The value of i is : 7
The value of i is : 8
The value of i is : 9
The value of i is : 10
Breaking the loop.

In [25]:
i=0;
while(True):
    i=i+1
    if(i==5):
        continue
    if(i>10):
        break
    print(f"The value of i is : {i}")

The value of i is : 1
The value of i is : 2
The value of i is : 3
The value of i is : 4
The value of i is : 6
The value of i is : 7
The value of i is : 8
The value of i is : 9
The value of i is : 10