In [3]:
husban = "40"
demo =55.5
demo = 40
demo3 =type(demo)
print(demo3)
# print(type(demo))

<class 'int'>

In [7]:
var1 = "its a string"
var2 = " helo"
print(var1+var2)

its a string helo

In [9]:
abc = "5"
abc2 = "45"
abc3 = 55.59
xyz = 5.0

abc4 =int(abc2)

print(abc+abc4)

50

In [10]:
print(abc+int(abc2))

50

In [12]:
print(float(abc)+xyz)

10.0

In [14]:
print(str(abc)+abc2)

545

In [17]:
print("Enter your name")
name = input()
print("Your name is",name)
xyz = input("Enter your age : ")
print(xyz)

Enter your name
husban
Your name is husban
Enter your age : 18
18

In [26]:
#  Quiz : 
print("Enter First Number : ")
num1= float(input())
print("Enter Second Number : ")
num2=int(input())
print(num1+num2)

Enter First Number :
4
Enter Second Number :
5
9.0